<%- include('partials/header') %>

    <section class="home">
        <h2>Chào mừng bạn đến với CRUD App</h2>
        <p>Ứng dụng quản lý Nhà Cung Cấp & Sản Phẩm</p>

        <div class="buttons">
            <a href="/suppliers" class="btn">Quản lý Nhà Cung Cấp</a>
            <a href="/products" class="btn">Quản lý Sản Phẩm</a>
        </div>
    </section>

    <%- include('partials/footer') %>