<%- include('../partials/header') %>
    <h2>New Product</h2>
    <form action="/products" method="POST">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="number" name="price" placeholder="Price"><br>
        <input type="number" name="quantity" placeholder="Quantity"><br>
        <select name="supplierId">
    <% suppliers.forEach(s => { %>
      <option value="<%= s._id %>"><%= s.name %></option>
    <% }) %>
  </select><br>
        <button type="submit">Save</button>
    </form>
    <%- include('../partials/footer') %>